
.navbar-default { margin : 0 !important; }



@font-face {
    font-family: 'nerisblack';
    src: url('../fonts/neris_black/Neris-Black-webfont.eot');
    src: url('../fonts/neris_black/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_black/Neris-Black-webfont.woff') format('woff'),
    url('../fonts/neris_black/Neris-Black-webfont.ttf') format('truetype'),
    url('../fonts/neris_black/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerissemibold';
    src: url('../fonts/neris_semibold/Neris-SemiBold-webfont.eot');
    src: url('../fonts/neris_semibold/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.woff') format('woff'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.ttf') format('truetype'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerislight';
    src: url('../fonts/neris_light/Neris-Light-webfont.eot');
    src: url('../fonts/neris_light/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_light/Neris-Light-webfont.woff') format('woff'),
    url('../fonts/neris_light/Neris-Light-webfont.ttf') format('truetype'),
    url('../fonts/neris_light/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

#index-container {
    background-attachment: fixed;
    background-image: url('../img/index-background-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #001f3f;
}
.index-jumbotron-container {
    display: table;
    height: 100%;
    width: 100%;
}

.index-jumbotron-content {
    background: rgba(0, 16, 63, 0.5);
    display: table-cell;
    font-family: 'nerisblack', Helvetica;
    min-height: 30vh;
    height: 30vh;
    vertical-align: middle;
}

.index-jumbotron-content .container h1,h2 {
    color: white;
}

.index-jumbotron-content .container {
    margin-left: auto;
    margin-right: auto;
}

.index-jumbotron-content h1 {
    font-size: 48px;
}

.navbar-brand {
    font-family: 'nerisblack', Helvetica;
}

.navbar-nav li {
    margin-right: 12px;
}

#index-form-container {
    background-color: rgba(0, 16, 63, 0.5);
    padding-top: 20px;
}

#index-form-container label {
    color: white;
}

#index-form-container .multiselect-native-select button {
    background-color: white;
}

#index-form-container .multiselect-native-select label {
    color: inherit;
}

.inline-block {
    display: inline-block;
}

.ad-container {
    margin: 15px 0px 15px 0px;
}

.ad-title {
    color: inherit;
    margin-top: 0px;
    text-decoration: underline;
}
.ad-fields-list b {
    letter-spacing: 0.5px;
}

.ad-image {
    border-radius: 4px;
}

.ad-price {
    margin-top: 5px;
    font-family: 'nerisblack', Helvetica;
}

.ad-price, .ad-location {
    margin-bottom: 0px;
}

.column-center {
    float: none;
    margin: auto;
}

.multiselect-native-select {
    display: block;
    color: inherit;
}

.multiselect-native-select .btn-group > button {
    color: #0073ea;
    font-weight: normal;
}

.multiselect-native-select .btn-group > button > span {
    float: left;
}

.multiselect-native-select .btn-group > button > .caret {
    position: absolute;
    left: 95%;
    top: 45%;
}


