
.navbar-default { margin : 0 !important; }

@font-face {
    font-family: 'nerisblack';
    src: url('../fonts/neris_black/Neris-Black-webfont.eot');
    src: url('../fonts/neris_black/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_black/Neris-Black-webfont.woff') format('woff'),
    url('../fonts/neris_black/Neris-Black-webfont.ttf') format('truetype'),
    url('../fonts/neris_black/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerissemibold';
    src: url('../fonts/neris_semibold/Neris-SemiBold-webfont.eot');
    src: url('../fonts/neris_semibold/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.woff') format('woff'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.ttf') format('truetype'),
    url('../fonts/neris_semibold/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerislight';
    src: url('../fonts/neris_light/Neris-Light-webfont.eot');
    src: url('../fonts/neris_light/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neris_light/Neris-Light-webfont.woff') format('woff'),
    url('../fonts/neris_light/Neris-Light-webfont.ttf') format('truetype'),
    url('../fonts/neris_light/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*body {*/
    /*font-family: "nerissemibold" !important;*/
/*}*/

.auto-price {
    font-family: 'nerisblack';
}

.index-jumbotron-container {
    background-image: url('../img/index-background-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.index-jumbotron-content {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: table-cell;
    font-family: 'nerisblack';
    min-height: 50vh;
    height: 50vh;
    vertical-align: middle;
}

.index-jumbotron-content .container {
    margin-left: auto;
    margin-right: auto;
}

.index-jumbotron-content h1 {
    font-size: 48px;
}

.navbar-brand {
    font-family: 'nerisblack';
}
